$button-background-color: $color-white;
$button-background-color-hover: transparent;
$button-border-color: $color-white;
$button-color: $color-primary;
$button-color-hover: $color-white;
$button-color-active: $color-white;

.button {
  background-color: $color-secondary;
  color: $color-primary;
  border-radius: 28px;
  border: 1px solid $color-primary;
  padding: 15px 36px;
  text-transform: none;
  font-size: 17px;
  letter-spacing: 0;
  text-decoration: none;

  @include laptop {
    font-size: 14px;
    line-height: 18px;
  }

  &:focus,
  &:hover,
  &:active {
    color: $color-secondary;
    background-color: $color-primary;
  }

  &--primary {
    font-family: "OfficinaSansITCPro ExtraBd";
    background-color: $color-primary;
    color: $color-white;
  }
}
