@each $breakpoint, $width in $container-widths {
  @if $breakpoint == "default" {
    .container {
      max-width: $width;
    }
  } @else {
    .container-#{$breakpoint} {
      max-width: $width;
    }
  }
}

[class^="container"] {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;

  @include tablet {
    padding-right: 100px;
    padding-left: 100px;
  }

  @include tablet-h {
    padding-right: 140px;
    padding-left: 140px;
  }
}
