.media {
  background-color: $color-primary;
  padding-top: 80px;
  padding-bottom: 80px;

  @include laptop {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.media__inner .section-text h2 span {
  color: $color-white;
}

.media__inner .section-text h2 {
  margin-bottom: 37px;

  @include laptop {
    margin-bottom: 35px;
  }
}

.media__inner .section-text p {
  color: $color-white;
}

.media__inner {
  display: flex;
}

.media__inner-cards ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 252px;
  gap: 20px;

  @include laptop {
    padding-left: 90px;
    gap: 20px 40px;
  }
}

.media__inner-cards ul li {
  list-style-type: none;
  border-radius: 15px;
}

.media__inner .section-image {
  display: none;
  @include laptop {
    display: block;
    width: 30%;
  }
}

.media-text {
  @include laptop {
    width: 70%;
    padding-left: 80px;
  }
}

.media-text .section-text {
  width: 100%;

  @include laptop {
    padding-top: 0px;
  }
}

.media-text .section-text__wrap::before {
  background-color: $color-white;
}

.media-text .section-text__wrap {
  margin-bottom: 24px;

  @include laptop {
    margin-bottom: 70px;
    padding-left: 90px;
  }
}
