footer.footer.background-primary#contact
  .container
    .footer__inner
      h2 Contact

      .footer__contact
        a(href="mailto:renske.leijten@gmail.com") renske.leijten@gmail.com

      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et condimentum Leo. Donec erat nunc, molestie feugiat nulla mattis, mattis mattis metus. Etiam sodales luctus pharetra.