mixin card(title, date, source)
  a(href="#").card 
    .card__header
      h3= title 
      p= date
    .card__body 
      p Lorem ipsum dolor sit amet, consectetur adipiscing, Lorem ipsum dolor sit amet, consectetur adipiscing
    .card__footer
      p= source

