html {
  min-height: 100vh;
  height: 100%;
  min-width: 320px;
  font-family: $font-primary;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-black;

  @include laptop {
    font-size: $font-size-desktop;
  }
}

body {
  height: 100%;
  background-color: $color-white;

  &.menu-active {
    overflow: hidden;
  }
}

// a,
// button {
//   transition: $transition-duration;
// }

button {
  cursor: pointer;
}

a {
  // stylelint-disable-next-line
  color: currentColor;
}

svg {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  height: 100%;
  // stylelint-disable-next-line
  fill: currentColor;
}

img {
  vertical-align: top;
  height: auto;
  max-width: 100%;
  user-select: none;
}

img[draggable="false"] {
  pointer-events: none;
  // stylelint-disable-next-line
  -webkit-user-drag: none;
}

figure,
picture {
  display: inline-block;
  margin: 0;
  line-height: 0;

  img {
    width: 100%;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
}

video {
  outline: none;
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

::selection {
  background-color: $color-secondary;
  color: $color-primary;
}
