// stylelint-disable no-empty-source
@font-face {
  font-family: "unitext";
  src: url("../fonts/unitext-regular.woff2") format("woff2"),
    url("../fonts/unitext-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "unitext";
  src: url("../fonts/unitext-regular-italic.woff2") format("woff2"),
    url("../fonts/unitext-regular-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "unitext";
  src: url("../fonts/unitext-light.woff2") format("woff2"),
    url("../fonts/unitext-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "unitext";
  src: url("../fonts/unitext-bold.woff2") format("woff2"),
    url("../fonts/unitext-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "unitext";
  src: url("../fonts/unitext-black.woff2") format("woff2"),
    url("../fonts/unitext-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITCOfficinaSerif LT BoldIt";
  src: url("../fonts/officinaseriflt-bolditalic.woff2") format("woff2"),
    url("../fonts/officinaseriflt-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ITCOfficinaSans LT BookIt";
  src: url("../fonts/officinasanslt-bookitalic.woff2") format("woff2"),
    url("../fonts/officinasanslt-bookitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OfficinaSanITCMediumItalic";
  src: url("../fonts/officinasanitc-mediumitalic.woff2") format("woff2"),
    url("../fonts/officinasanitc-mediumitalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OfficinaSanITCMedium";
  src: url("../fonts/officinasanitc-medium.woff2") format("woff2"),
    url("../fonts/officinasanitc-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITCOfficinaSerif LT Book";
  src: url("../fonts/officinaseriflt-book.woff2") format("woff2"),
    url("../fonts/officinaseriflt-book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OfficinaSanITCExtraBoldItalic";
  src: url("../fonts/officinasanitc-extrabolditalic.woff2") format("woff2"),
    url("../fonts/officinasanitc-extrabolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OfficinaSansITCPro ExtraBd";
  src: url("../fonts/officinasansitcpro-extrabold.woff2") format("woff2"),
    url("../fonts/officinasansitcpro-extrabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OfficinaSerITCBol";
  src: url("../fonts/officinaseritc-bold.woff2") format("woff2"),
    url("../fonts/officinaseritc-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OfficinaSanITCBoo";
  src: url("../fonts/officinasanitc-book.woff2") format("woff2"),
    url("../fonts/officinasanitc-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
